h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

h5 {
    font-size: .83em;
    font-weight: bold;
}

h6 {
    font-size: .67em;
    font-weight: bold;
}

p {

}
